body {
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: rgba(255, 238, 196, 0.89);
}

header a:hover {
    color: red;
}
.bold {
    font-weight: bold;
}

.center {
   text-align: center;
}
img {
    margin-top: 10px;
    width: 300px;
    border: solid black;
}
.underline {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.blue {
    color: blue;
}